body {
  font-family: 'Varela Round', sans-serif;
  font-size: 19px;
}

div.container {
  margin: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 45px;
}
.navbar{
  background-color: #1A90BE;
  background-image: none;
  border-bottom: 7px solid #146e8f;
  padding: 0;
  margin-left: 0;
}


.nav.navbar-nav li a, .navbar-default .navbar-brand{
  color: #fff;

}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle, .navbar-collapse {
  border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: none;
}

.jumbotron {
/*  background-color: #1a90bc;*/
  background-image: linear-gradient(-60deg, #75bcd6, #146e8f);
  padding: 150px 25px;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
}

 #jumbo h1 {
  font-size: 80px;
  color: #fff;
}

#jumbo h5 {
  color: #fff;
}

.container-fluid {
  padding: 60px 35px;
  overflow: auto;
  color: #1A90BE;
  text-align: center;
}
div.col-sm-6 {
  padding: 20px 10px;
}

#education {
  background-image: linear-gradient(-90deg,#113644,#405e69);
  padding: 60px 35px;
}

#education #nopad{
  padding: 0px;
  overflow: hidden;
}
#education div.col-sm-8 li {
  text-align: left;
}

#education div.col-sm-8 p {
  color: #fff;
}

#education .glyphicon {
  font-size: 22vw;
}

.italic p{
  font-style: italic;
}

#extra {
  background-color: #ccc;
  background-image: linear-gradient(-90deg,#a3a3a3,#d6d6d6);
 }
#projects {
  background-color: #333333;
  background-image: linear-gradient(-90deg,#333333,#5b5b5b);
}

#projects > div.container-fluid {
  padding-top: 30px;
}


.btn:hover, button:hover {
  background-image: none;
  border: 1px;
  background-color: #405e69;
}

#extra > h2, #contact > h2, #education > h2, #about > h2 {
  padding-bottom: 30px;
}

#extra {
  padding-bottom: 200px;
}

#contact {
 padding-bottom: 130px;
}

.bottom {
  background-color: #146e8f;
  color: #fff;
  border-top: 7px solid #146e8f;
  /*padding: 30px 10px;*/
  paddding: 50px 15px;

}

footer .glyphicon {
  font-size: 20px;
  color: #fff;
}
